@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

#header_logo {
  font-family: "Great Vibes", cursive;
}

.footer-img {
  color: white;
}

#basic-button {
  color: white;
  font-size: 1.2rem;
  display: flex;
  gap: 3px;
  text-transform: capitalize;
  padding: 1px 4px;
  border-radius: 12px;
}

#basic-button:hover {
  border-color: rgb(74 222 128);
  color: rgb(74 222 128);
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
